.SettingsTab{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.SettingsTab-iconBox{
  width: 12px;
  margin-left: 3px;
  height: 24px;
  color: #778ca2;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.SettingsTab-linkAndDescription{
  margin-left: 19px;
}

.SettingsTab-iconBox.is-activeTab, .SettingsTab-link.is-activeTab{
  color: #8c54ff;
}

.SettingsTab-link{
  height: 19px;
  color: #252631;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.SettingsTab-description{
  height: 18px;
  color: #98a9bc;
  font-family: "Fira Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.Settings-wrapper{
  min-width: 1000px;
  height: 714px;
  display: grid;
  grid-template-columns: minmax(min-content, 293px) minmax(500px, 1fr);
}

.Settings-tabs{
  width: 293px;
  height: 714px;
  border-right: 1px solid #f2f4f6;
}

.SettingsTabs-tabWrapper{
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f4f6;
}

.Settings-content{
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Settings-contentWrapper{
  margin-left: 29px;
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SettingsTabs-tabWrapper.is-activeTab{
  border-right: 2px solid #8c54ff;
  background: rgba(248, 250, 251, 0.539731);
}

.generalInformation-formWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Settings-title{
  height: 24px;
  color: #252631;
  font-family: "Fira Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.generalInformation-fieldWrapper{
  margin-top: 23px;
  margin-right: 26px;
  display: flex;
  flex-direction: column;
}

.generalInformation-fieldTitle{
  height: 17px;
  font-family: "Fira Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.generalInformation-uploadBox{
  width: 786px;
  height: 124px;
  border: dashed 1px #e8ecef;
  border-radius: 3px;
  background: #ffffff;
  display: flex;
}

.generalInformation-uploadLabel{
  margin: auto;
  display: flex;
}

.generalInformation-uploadLabel-icon{
  margin-right: 14px;
  width: 14px;
  height: 29px;
  color: #778ca2;
  font-family: LineAwesome;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
}

.generalInformation-uploadLabel-label{
 height: 14px;
 color: #778ca2;
 font-family: "Fira Sans";
 font-size: 12px;
 font-weight: 500;
 line-height: 14px;
 text-transform: uppercase;
 margin: auto;
}

.generalInformation-fieldBox{
  width: 360px;
  height: 52px;
  border: solid 1px #e8ecef;
  background: #ffffff;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: #221b24;
  font-family: "Fira Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.updateButton{
  margin-top: 100px;
  width: 155.1px;
  height: 54px;
  background: #9060eb;
  border: none;
  border-radius: 3px;
}

.updateButton-title{
  height: 17px;
  color: #ffffff;
  font-family: "Fira Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
